{% extends "layout.html"%}
{%block stylesheets%}
{{super()}}
<link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet">
{% endblock stylesheets%}
{%block content%}
<div class = "container">
<h1>List of Restaurants</h1>
{% for user in users%}
        <article class="media content-section col-md-8">
            <img class = "rounded-circle article-img" src = "{{ url_for('static', filename = 'profile_pics/' + user.image_file) }}">
          <div class="media-body">
            <h1><a class="article-title" href="{{url_for('orders', username = user.username)}}">{{ user.username}}</a></h1>
          </div>
        </article>
    {%endfor%}
    </div>
{% endblock content%}