<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_256192aded99442e8788697b807bed56 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_256192aded99442e8788697b807bed56" ></div>
        
</body>
<script>    
    
            var map_256192aded99442e8788697b807bed56 = L.map(
                "map_256192aded99442e8788697b807bed56",
                {
                    center: [37.52265968974697, -122.03095278393795],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_ddf8c89947ed4ccbb55fc8b050aa23ca = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_256192aded99442e8788697b807bed56);
        
    
            var marker_5df8597b6a4b45168e135060139bb62a = L.marker(
                [37.52265968974697, -122.03095278393795],
                {}
            ).addTo(map_256192aded99442e8788697b807bed56);
        
    
            var icon_75af38c6951348d5b467be9ea04c6bce = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "home", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_5df8597b6a4b45168e135060139bb62a.setIcon(icon_75af38c6951348d5b467be9ea04c6bce);
        
    
        var popup_d88855c7238348cf84a2a1420deca0e3 = L.popup({"maxWidth": "100%"});

        
            var html_6ccb59d1c8074e6c8804700e8b22231d = $(`<div id="html_6ccb59d1c8074e6c8804700e8b22231d" style="width: 100.0%; height: 100.0%;">Home</div>`)[0];
            popup_d88855c7238348cf84a2a1420deca0e3.setContent(html_6ccb59d1c8074e6c8804700e8b22231d);
        

        marker_5df8597b6a4b45168e135060139bb62a.bindPopup(popup_d88855c7238348cf84a2a1420deca0e3)
        ;

        
    
    
            var marker_1ff5eaa3e6434df7836293eacdb9a430 = L.marker(
                [37.5543743, -121.9817025],
                {}
            ).addTo(map_256192aded99442e8788697b807bed56);
        
    
        var popup_431b50ec64bf4742a553901c861ae56c = L.popup({"maxWidth": "100%"});

        
            var html_7eeb3dad01fd444e8f57c734f220f766 = $(`<div id="html_7eeb3dad01fd444e8f57c734f220f766" style="width: 100.0%; height: 100.0%;">Chipotle</div>`)[0];
            popup_431b50ec64bf4742a553901c861ae56c.setContent(html_7eeb3dad01fd444e8f57c734f220f766);
        

        marker_1ff5eaa3e6434df7836293eacdb9a430.bindPopup(popup_431b50ec64bf4742a553901c861ae56c)
        ;

        
    
</script>